#logo {
    background-color: white;
}

#header-logo p a {
    color: black;
}
body {
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  display: flex;
  background-color: white;
}
#back {
  height: 100%;
  width: 100%;
}
#wrapper {
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  overflow: clip;
  display: none;
}


#navigation p a {
    color: black;
}

#main-servicios {
    background-color: white;
}

#servicios {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
}

#servicios h2 {
    text-align: center;
  width: 100%;
  font-size: 10em;
  text-transform: uppercase;
  font-weight: bolder;
  color: white;
  text-shadow: 5px 6px 2px #74be1e;
}

#service {
  margin: 1%;
}

#box-servicio h3 {
  color: #74be1e;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.2em;
  margin: 4%;
  border-bottom: 1px solid #74be1e;
}

#description {
  column-count: 2;
  column-gap: 4%;
  column-fill: balance;
  column-rule: whitesmoke;
  font-size: 0.9em;
  display: flex;
  opacity: 0;
  transition: all 1s;
  transition-delay: 1s;
}
#photo-service {
  display: flex;
  padding: 10%;
  position: relative;
}

#image-servicio {
  width: 53%;
  display: flex;
  justify-content: center;
  flex-basis: 50%;
  align-items: center;
}

#box-servicio {
  flex-basis: 50%;
  padding: 2%;
}

#cod {
  position: absolute;
  width: 25%;
  right: 1px;
  top: 44px;
}

#cod >img {
  max-width: 100%;
}

#box-servicio h2 {
  font-size: 5em;
  color: #74be1e;
  font-weight: 200;
  transition: all 1s;
}


#image-servicio > img {
  max-width: 100%;
  max-height: 83%;
}

.marquee-slider {
    padding: 100px 0;
    background: white;
    width: 100%;
    grid-row-gap: 1.6rem;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;
  }
  
  .marquee-slider__list {
    grid-column-gap: 1.6rem;
    grid-row-gap: 1.6rem;
    flex: none;
    display: flex;
    flex-flow: row;
    align-items: stretch;
    justify-content: center;
    transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.38, 1.399);
  }
  
  .marquee-slider__list--item {
    background-color: #fff;
    width: 100%;
    height: 100%;
    max-width: 260px;
    min-height: 260px;
    grid-column-gap: 1.6rem;
    border-radius: 0.8rem;
    flex: none;
    display: flex;
    padding: 1.2rem;
    position: relative;
    align-items: center;
    grid-row-gap: 1.6rem;
    justify-content: center;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.08);
    text-transform: uppercase;
  font-size: 2em;
  font-weight: 400;
  color: #74be1e;
  transition: all 1s;
  }

  .cubo {
    display: flex;
  max-width: 100%;
  flex-direction: column;
  }
  .marquee-slider__list--item:hover {
    font-weight: 1000;
  }

  #servicios-section {
    margin-top: 16%;
  }

  #servicios-section h3 {
    font-size: 6em;
    margin: 0px;
    text-align: center;
    color: #74be1e;
    font-weight: 200;
    text-transform: uppercase;
    background-color: black;
  }

  /*cancion*/
#top {
    padding: 4%;
}
.group {
    display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
  #top-cancion {
    display: flex;
    width: 100%;
    border: 7px solid #00000008;
    flex-direction: column;
  }

  #head2 {
    font-size: 5em;
  color: #80c419;
  text-align: center;
  flex-basis: 59%;
  padding: 5%;
  margin: 0;
  opacity: 0;
  font-weight: 200;
  transition: all 1s;
  transition-delay: 0;
  }
  iframe {
    flex-basis: 45%;
    opacity: 0;
    transition: all 1s;
    transition-delay: 1s;
  }

  #headers-serv {
    flex-basis: 45%;
  }

  #headers-serv h3 {
    font-size: 2em;
    margin: 5%;
  text-align: center;
  color: #80c419;
  text-transform: capitalize;
  opacity: 0;
  font-weight: 200;
  transition: all 1s;
  transition-delay: 0.5s;
  }

  .rating {
    display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: 11%;
  }

  .rating h2 {
    color: #80c419;
    text-transform: uppercase;
    text-align: center;
    margin: 6%;
    font-weight: 300;
    font-size: 3em;
  }
  .star-service {
    font-size: 2em;
    color: #ffcb00
  }

  .rating-stars {
    display: flex;
  text-align: center;
  justify-content: center;
  }
  .yellow {
    color: yellow;
  }

  .drag {
    opacity: 0.5;
  }

  #drop {
    padding: 2%;
  }

  #drop p {
    text-transform: uppercase;
  font-size: 0.7em;
  color: #80c419;
  }

  #contactar h3 {
    margin: 0;
    color: azure;
    font-size: 10em;
    text-align: center;
    text-transform: uppercase;
  }

  #contactar h3 a {
    color: #80c419;
  }

  /*footer*/

  #footer-area {
    background-color: white;
  }

  #footer-block {
    opacity: 1;
  }

  #footers h3 {
    color: black;
  }

  #copyright-text {
    color: black;
  }

  #footer-copyright {
    border-top: 1px solid black;
  }

  .iconos p a {
    color: #000;
    transition: all 0.5s;
    cursor: pointer;
  }
  .info {
    display: none;
  }

  .iconos p a:hover {
    color: #74be1e;
    font-size: 1.4em;
  }